<main class='p-5'>
  {{> shopHeader}}
  {{#with newsBlock}}
    <h1 class='text-center pt-5 mb-5'>{{title}}</h1>
    <div class='row '>
      {{#each cards}}
        <div class='col-3  px-0'>
          <div class='card text-bg-dark  m-1'>
            <div class='card-body p-1'>
              <h5 class='card-title p-1'>{{title}}
                {{#if isTop}}
                  <span
                    class='badge text-bg-danger rounded-pill'
                  >Top</span>
                {{/if}}
                {{#if isNew}}
                  <span
                    class='badge text-bg-success rounded-pill'
                  >New</span>
                {{/if}}

              </h5>
              <p class="p-1">{{description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
  <hr class='my-5' />
  {{#with goodsBlock}}
    <div class='row'>
      <div clas='col-12 mb-5 '>

        <div class='nav nav-tabs mb-5'>
          {{#each tabs}}
            <div class='nav-item mx-3'>
              {{#if isActive}}
                <a
                  href='#'
                  class='active nav-link'
                >{{text}}</a>
              {{else}}
                {{#if isDisabled}}
                  <a
                    href='#'
                    class='disabled nav-link'
                  >{{text}}</a>
                {{else}}
                  <a href='#' class='nav-link'>{{text}}</a>
                {{/if}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='row'>
      {{#each cards}}
        <div class=' col-4 px-1 '>
          <div class='card my-1'>
            <img src='{{image}}' class='img-top px-0' />
            <div class='card-body'>
              <h5 class='card-title'>{{title}}</h5>
              <p class='p-2'>{{description}}
                {{#if isHot}}
                  <span
                    class='bardge text-bg-warning rounded-pill px-2 text-uppercase'
                  >Hot</span>
                {{/if}}
                {{#if isNew}}
                  <span
                    class='bardge text-bg-primary rounded-pill px-2 text-uppercase'
                  >New</span>
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
  {{> shopAlertDark}}
  {{#with service}}
    <div class='alert alert-success text-bg-success'>
      <div class=''>
        <h2 class='mb-4 text-center'>{{title}}</h2>
        <p class='mb-3 text-center'>{{description}}</p>
        <div class='text-center'>
          {{#each buttons}}
            <a
              href='{{link}}'
              class='btn btn-primary'
            >{{text}}</a>
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}
  {{> shopFooter}}
</main>