<main class='p-5'>
  {{> shopHeader}}

    <h1 >{{header}}</h1>
    <div class="row g-5">
        <div class="col-8">
            {{#with contacts_data}}
                <section>
                     {{> shopTitle}}
                    {{#each buttons}}
                        <button class="btn 
                            {{#if isPrimary}}
                            btn-warning
                            {{else}}
                                {{#if isOutline}}
                                btn-outline-warning
                                {{/if}}
                            {{/if}}
                            mb-3
                        ">{{text}}</button>
                    {{/each}}
                </section>
                <section class="row">
                    {{#with form}}
                        {{#with input}}
                            {{> inputForm}}
                        {{/with}}
                </section>
                <hr class="m-3">
                {{#each switch}}
                {{#if isActive}}
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input  class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    </div>
                {{else}}
                        <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input  type='checkbox' class='form-check-input '>
                    </div>
                {{/if}}
                {{/each}}
                {{/with}}
            {{/with}}
            <hr class="m-3">
            {{#with delivery}}
                 {{> shopTitle}}
                <div class="card p-3 mb-3">
                    <div class=" row">
                        {{#each select}}
                            <div class="col-6">
                                {{> shopSelect}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{#each delivery_type}}
                    <div class="form-check">
                        <input type="radio" name="delivery" class="form-check-input">
                        <label  class="form-check-label">{{type}}</label>
                    </div>
                {{/each}}
                <hr class="m-3">
                {{#with payment}}
                     {{> shopTitle}}
                    {{#each list}}
                        <div class="form-check">
                            <input type="radio" name="payment" class="form-check-input">
                            <label  class="form-check-label">{{type}}</label>
                        </div>
                        <div class="form-text">{{description}}</div>
                    {{/each}}
                {{/with}}
                <hr class="m-3">
                {{#with contact}}
                     {{> shopTitle}}
                    <section class="row">
                    {{> inputForm}}
                    </section>
                {{/with}}
                <hr class="m-3">
                <div class="mb-4">
                    {{> shopTextfield data=coment}}
                </div>
                <hr class="m-3">
            {{/with}}
            {{#with coupon}}
                 {{> shopTitle}}
                <section>
                {{#with select}}
                    <div class="mb-3">
                    {{#with availabel_coupon}}                    
                        {{> shopSelect class=lg}}                  
                    {{/with}}
                    </div>
                    <div class="mb-3">
                                       
                         {{> shopSelect data=friend_coupon}}                  
                    
                    </div>
                {{/with}}
                {{#with add}}
                    {{> shopTextfield data=friend}}
                    {{> shopTextfield data=colleague}}
                {{/with}}
                </section>
            {{/with}}
            <section>
            {{#with quiz}}
                {{> shopTitle}}
                <div class="mb-2">
                    {{#with preference}}
                            <div class="mb-2" >{{title}}</div>
                        {{#each options}}
                            <div class="form-check">
                            <input type="radio" name="electronics" class="form-check-input">
                            <label  class="form-check-label">{{this}}</label>
                            </div>
                        {{/each}}
                    {{/with}}
                </div>
                <div class="mb-2">
                    {{> shopTextfield data=your_expirience}}
                </div>
                 <div class="mb-2">                    
                    {{> shopSelect data=purchase_frequency}}                    
                </div>
                <div class="mb-2">
                    {{#with factors}}
                            <div class="mb-2" >{{title}}</div>
                        {{#each options}}
                            <div class="form-check">
                                <input type="checkbox"  class="form-check-input">
                                <label  class="form-check-label">{{this}}</label>
                            </div>
                        {{/each}}
                    {{/with}}
                </div>               
            {{/with}}
            </section>
        </div> 
                

        <div class="col-4 mb-3">
            <div class="card p-2 mb-2">
                <div>
                    {{#each action_block}}
                        <div>
                        <button class="btn 
                            {{#if isSuccess}}
                                btn-success
                                {{else}}
                                {{#if isDanger}}
                                    btn-danger 
                                    {{else}}
                                    {{#if isInfo}}
                                    btn-info
                                    {{/if}}
                                {{/if}}
                            {{/if}} mb-2 btn-sm " >{{text}}
                        </button>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="card p-2">
                {{#with total}}
                    <h6 class="mb-3">{{title}}</h6>
                    {{#each item_list}}
                        <p class="mb-1">{{name}}: {{price}}</p>
                    {{/each}}
                    <hr class="m-1">
                    {{#each additional_info}}
                        <p class="mb-1">{{text}}: {{value}}</p>
                    {{/each}}
                    <hr class="m-1">
                    {{#with total_price}}
                        <p class="mb-1">{{text}}: {{value}}</p>
                    {{/with}}
                     <hr class="m-1">
                     <div class="">
                    {{#each button}}
                        <button class="btn 
                        {{#if isPrimary}}
                        btn-primary
                        {{else}}
                            {{#if isOutline}}
                            btn-outline-primary
                            {{/if}}
                        {{/if}}
                        my-2
                         btn-sm ">{{text}}</button>
                    {{/each}}
                    </div>
                {{/with}}
            </div>
        </div>      

    </div>


  {{> shopFooter}}
</main>